<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content class="padding">
        <form ng-submit="doLogin(loginData)">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="loginData.username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="loginData.password">
                </label>
            </div>
            <ion-checkbox ng-model="isChecked">Remember me</ion-checkbox>
            <button class="button button-block button-positive" type="submit">Login</button>
        </form>
    </ion-content>
</ion-view>